<!DOCTYPE html>
<html >
<head >
    <meta charset="UTF-8" >
    <title >{% block title %}ТЦ Мирамикс{% endblock %}</title >
    {% block stylesheets %}
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
        {#integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >

    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script >

    {#нужно установить#}
    {#<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script >#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script >#}
    {#нужно установить#}


    {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
    <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous" ></script >

    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js" ></script >
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css" >
    {#нужно установить#}
    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script >#}
    {#нужно установить#}


    <link rel="stylesheet" href="{{ asset('js/bxslider-4-4.2.12/dist/jquery.bxslider.css') }}" >

    <script src="{{ asset('js/bxslider-4-4.2.12/dist/jquery.bxslider.js') }}" ></script >

    <script type="text/javascript" >!function () {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?162", t.onload = function () {
                VK.Retargeting.Init("VK-RTRG-414259-b6z5L"), VK.Retargeting.Hit()
            }, document.head.appendChild(t)
        }();</script >
    <noscript ><img src="https://vk.com/rtrg?p=VK-RTRG-414259-b6z5L" style="position:fixed; left:-999px;" alt="" />
    </noscript >

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(55720270, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script >
    <noscript >
        <div ><img src="https://mc.yandex.ru/watch/55720270" style="position:absolute; left:-9999px;" alt="" /></div >
    </noscript >
    <!-- /Yandex.Metrika counter -->
    <!-- Facebook Pixel Code -->
    <script >
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '398480754416730');
        fbq('track', 'PageView');
    </script >
    <noscript ><img height="1" width="1" style="display:none"
                    src="https://www.facebook.com/tr?id=398480754416730&ev=PageView&noscript=1"
        /></noscript >
    <!-- End Facebook Pixel Code -->


    <script >

    </script >
    <script src="https://api-maps.yandex.ru/2.1/?apikey=0bf9b68a-3b1e-4b26-9a05-a25639a8258b&lang=ru_RU"
            type="text/javascript" >
    </script >
</head >
<body >
<div id="app" >
    {% block menu %}
        <main-header :app_state="app_state" >

        </main-header >

    {% endblock %}
    {% block sub_menu %}
        <main-sub-header :app_state="app_state" >
        </main-sub-header >
    {% endblock %}
    {% block bread_crumbs %}
    {% endblock %}

    {% block page_menu %}
    {% endblock %}

    {% block content %}

        <div >
            <router-view :app_state="app_state" ></router-view >
        </div >

    {% endblock %}
    {% block subscribe %}
        <subscribe-form >

        </subscribe-form >

    {% endblock %}

    {% block footer %}


        <footer-my >

        </footer-my >


    {% endblock %}
</div >
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript" >
        $(document).ready(function () {
            $('.slider2').bxSlider({
                    auto: true
                }
            );
            $('a[href^="#"], *[data-href^="#"]').on('click', function (e) {
                e.preventDefault();
                var t = 1000;
                var d = $(this).attr('data-href') ? $(this).attr('data-href') : $(this).attr('href');
                $('html,body').stop().animate({scrollTop: $(d).offset().top - 200}, t);
            });
        });


        // window.onload = function () {
        //     var wrapper = document.querySelector('#wrapper'),
        //         layerOne = document.querySelector('#layer-1'),
        //         layerTwo = document.querySelector('#layer-2');
        //
        //
        //     window.addEventListener('scroll', function (e) {
        //         var pageX = pageYOffset / 2,
        //             pageY = pageYOffset / 2;
        //         console.log(pageX);
        //         console.log(pageY);
        //         layerOne.style.transform = 'translateX(-' + (pageX / 200) + '%) translateY(-' + (pageY / 200) + '%)';
        //         layerTwo.style.transform = 'translateX(-' + (pageX / 200) + '%) translateY(-' + (pageY / 200) + '%)';
        //     });
        // };

        {#Vue.component("carousel", {#}
        {#delimiters: ['$[', ']'],#}
        {#template: `#}
        {#<div class="big_row">#}
        {#<div class="left_place_nav">#}
        {#<div class="grey_row">#}
        {#<div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList" ></div >#}
        {#</div>#}
        {#</div>#}
        {#<div class="center_slider ofh">#}
        {#<div class="grey_row between">#}
        {#<div class="card-carousel-cards_wrapper" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}" >#}
        {#<div class=" flex f_gorizontal">#}
        {#<div class="brend_item fl card-carousel-cards "  v-for="item in items" >#}
        {#<div class="img_logog" >#}
        {#<div class='image_wrapper'>#}
        {#<img :src='item.logo_grey' class='logo_grey'>#}
        {#</div>#}
        {#<div class="brant_item_hover" >#}
        {#<div class="img_logog2" >#}
        {#<a :href='item.link'> <img :src="item.logo" class="color_logo" ></a>#}
        {#</div >#}
        {#<div class='separator_vert_red' ></div >#}
        {#<div class="category_logo" >#}
        {#<span v-for="category in item.categories">$[ category ]</span>#}
        {#</div >#}

        {#<div class="button_floor_red" v-bind:floor="item.floor">$[item.floor] этаж</div >#}
        {#</div >#}

        {#</div >#}
        {#</div >#}
        {#</div>#}
        {#</div >#}
        {#<div class="more_brand_slider">#}
        {#<a href='{{ path('department') }}' class='box_con'><div class="button_white2">СМОТРЕТЬ ВСЁ</div ></a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="left_place_nav">#}
        {#<div class="grey_row">#}
        {#<div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList" ></div >#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#`,#}
        {#data() {#}
        {#return {#}
        {#currentOffset: 0,#}
        {#windowSize: 4,#}
        {#paginationFactor: 240,#}
        {#items: [#}
        {#{% for renter in renters %}#}

        {#}#}
        {#logo: "/uploads/file/{{ renter.logo }}",#}
        {#logo_grey: "/uploads/file/{{ renter.logoGrey }}",#}
        {#categories: "{% for category in renter.categories %}{{ category.name }} {% endfor %}",#}
        {#floor: "{{ renter.floor }}",#}
        {#link: "/renter/{{ renter.id }}",#}
        {#link_map: "/our_map/{{ renter.floor }}/{{ renter.id }}"#}
        {#},#}
        {#{% endfor %}#}
        {#]#}
        {#}#}
        {#},#}
        {#computed: {#}
        {#atEndOfList() {#}
        {#return this.currentOffset <= (this.paginationFactor * -1) * (this.items.length - this.windowSize);#}
        {#},#}
        {#atHeadOfList() {#}
        {#return this.currentOffset === 0;#}
        {#},#}
        {#},#}
        {#methods: {#}
        {#moveCarousel(direction) {#}
        {#// Find a more elegant way to express the :style. consider using props to make it truly generic#}
        {#if (direction === 1 && !this.atEndOfList) {#}
        {#this.currentOffset -= this.paginationFactor;#}
        {#} else if (direction === -1 && !this.atHeadOfList) {#}
        {#this.currentOffset += this.paginationFactor;#}
        {#}#}
        {#},#}
        {#oncursor() {#}

        {#}#}

        {#}#}
        {#});#}

        // new Vue({
        //     delimiters: ['$[', ']'],
        //     el: "#app",
        //
        // });


    </script >
{% endblock %}
</body >

</html >
